

.row{
    display: flex;
    background-color: #04AA6D;
    border-color: black;
    flex-flow:row nowrap;
    flex-direction:row;
    align-items: center;
    gap:1.5%;
    width: 50%;
    
}

.column{
    flex: 1 1 0px;
    flex-grow: 1;
    align-items: center;
    background-color: #04AA6D;
    padding: .5rem;
    margin: .5rem;
    font-size: 1rem;
    font-weight: bolder;
}

.pageTitle{
    background-color: #04AA6D;    
    padding: .5rem;

}

.Albums{
    background-color: (228, 223, 223);
}